# ==========================================
# SECRETS ET CONFIGURATIONS LOCALES
# ==========================================
.env
*.env
.vscode/
.idea/

# ==========================================
# PYTHON & CACHES
# ==========================================
__pycache__/
*.pyc
venv/
.venv/

# ==========================================
# WORKER OLLAMA (IMAGES & MARKDOWN)
# ==========================================
pipeline-ollama/Photos_a_transcrire/*
!pipeline-ollama/Photos_a_transcrire/.gitkeep
pipeline-ollama/Transcriptions_photos_MD/*
!pipeline-ollama/Transcriptions_photos_MD/.gitkeep
*.jpg
*.png
*.jpeg
*.md
*.save

# ==========================================
# WORKER WHISPER (AUDIO & TEXTE)
# ==========================================
whisper/chapitres_audio/*
!whisper/chapitres_audio/.gitkeep
whisper/chapitres_ecrits/*
!whisper/chapitres_ecrits/.gitkeep
whisper/archives_audio/*
!whisper/archives_audio/.gitkeep

# ==========================================
# NEXTCLOUD (LOGS & DATA DOCKER LOCALES)
# ==========================================
nextcloud/data/
nextcloud/config/
*.db
*.log
